In [76]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
application_df = pd.read_csv('Resources/charity_data.csv')
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [77]:
# Drop the non-beneficial ID columns, 'EIN', 'NAME' and 'SPECIAL_CONSIDERATIONS'. --ADD SPECIAL_CONSIDERATIONS
application_df = application_df.drop(columns=["EIN","NAME","SPECIAL_CONSIDERATIONS"], axis=1)
print(application_df.shape)
application_df.head(10)

(34299, 9)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0

In [78]:
# Only keep rows with STATUS of 1--ADDED THIS 

application_df = application_df[application_df['STATUS'] == 1]
print(application_df.shape)
application_df.head(10)

(34294, 9)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0

In [79]:
## REMOVED STATUS COLUMN AS IT IS NO LONGER NECESSARY
application_df = application_df.drop(columns=["STATUS"], axis=1)
print(application_df.shape)
application_df.head(10)

(34294, 8)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
5,T3,Independent,C1200,Preservation,Trust,0,5000,1
6,T3,Independent,C1000,Preservation,Trust,100000-499999,31452,1
7,T3,Independent,C2000,Preservation,Trust,10M-50M,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1-9999,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0

In [80]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [81]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df.APPLICATION_TYPE.value_counts()
app_type_counts

T3     27032
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [82]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_type_counts[app_type_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27032
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [83]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
print(classification_counts)

C1000    17323
C2000     6073
C1200     4837
C3000     1918
C2100     1882
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [84]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_counts[classification_counts < 800].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17323
C2000     6073
C1200     4837
Other     2261
C3000     1918
C2100     1882
Name: CLASSIFICATION, dtype: int64

In [85]:
# Look at ASK_AMT value counts for binning --ADDED THIS
ask_counts = application_df.ASK_AMT.value_counts()
print(ask_counts)


#ask_amt_counts = application_df.ASK_AMT.value_counts(bins=8)
#ask_amt_counts = application_df["ASK_AMT"].min()
#ask_amt_counts

5000        25394
63981           3
15583           3
6725            3
10478           3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [86]:
# Determine which values to replace if counts are less than ..? --BINNING ASK AMOUNTS -ADDED THIS
replace_ask = list(ask_counts[ask_counts <= 100].index)

for ask in replace_ask:
    if ask <=10000:
         application_df.ASK_AMT = application_df.ASK_AMT.replace(ask,"5000-10000")
    elif ask <=50000:
         application_df.ASK_AMT = application_df.ASK_AMT.replace(ask,"10000-50000")
    elif ask <=100000:
         application_df.ASK_AMT = application_df.ASK_AMT.replace(ask,"50000-100000")
    elif ask <=500000:
         application_df.ASK_AMT = application_df.ASK_AMT.replace(ask,"100000-500000")
    elif ask <=1000000:
         application_df.ASK_AMT = application_df.ASK_AMT.replace(ask,"500000-1000000")
    elif ask <=10000000:
         application_df.ASK_AMT = application_df.ASK_AMT.replace(ask,"1000000-10000000")
    elif ask <=100000000:
         application_df.ASK_AMT = application_df.ASK_AMT.replace(ask,"10000000-100000000")
    else:
         application_df.ASK_AMT = application_df.ASK_AMT.replace(ask,">100000000")        

# Check to make sure binning was successful
application_df.ASK_AMT.value_counts()

5000                  25394
10000-50000            2398
100000-500000          2304
50000-100000           1423
1000000-10000000       1165
500000-1000000          650
5000-10000              548
10000000-100000000      311
>100000000              101
Name: ASK_AMT, dtype: int64

In [87]:
application_df['ASK_AMT']=application_df['ASK_AMT'].astype(str)

In [88]:
application_df.dtypes

APPLICATION_TYPE    object
AFFILIATION         object
CLASSIFICATION      object
USE_CASE            object
ORGANIZATION        object
INCOME_AMT          object
ASK_AMT             object
IS_SUCCESSFUL        int64
dtype: object

In [89]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'ASK_AMT']

In [90]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\aaron\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_5M-10M,ASK_AMT_10000-50000,ASK_AMT_100000-500000,ASK_AMT_1000000-10000000,ASK_AMT_10000000-100000000,ASK_AMT_5000,ASK_AMT_5000-10000,ASK_AMT_50000-100000,ASK_AMT_500000-1000000,ASK_AMT_>100000000
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True,right_index=True)
application_df = application_df.drop(columns=application_cat, axis=1)
application_df.head()

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_5M-10M,ASK_AMT_10000-50000,ASK_AMT_100000-500000,ASK_AMT_1000000-10000000,ASK_AMT_10000000-100000000,ASK_AMT_5000,ASK_AMT_5000-10000,ASK_AMT_50000-100000,ASK_AMT_500000-1000000,ASK_AMT_>100000000
0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [92]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\aaron\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [93]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [94]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3920

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,381
Trainable params: 6,381
Non-trainable params: 0
_________________________________________________________________

In [95]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [104]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=10)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [97]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/30
804/804 [==============================] - 1s 651us/step - loss: 0.6841 - accuracy: 0.5615
Epoch 2/30
804/804 [==============================] - 1s 653us/step - loss: 0.6805 - accuracy: 0.5698
Epoch 3/30
804/804 [==============================] - 1s 660us/step - loss: 0.6793 - accuracy: 0.5714
Epoch 4/30
804/804 [==============================] - 1s 662us/step - loss: 0.6782 - accuracy: 0.5730
Epoch 5/30
778/804 [============================>.] - ETA: 0s - loss: 0.6774 - accuracy: 0.5757
Epoch 5: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 1s 658us/step - loss: 0.6777 - accuracy: 0.5752
Epoch 6/30
804/804 [==============================] - 1s 664us/step - loss: 0.6776 - accuracy: 0.5772
Epoch 7/30
804/804 [==============================] - 1s 657us/step - loss: 0.6767 - accuracy: 0.5765
Epoch 8/30
804/804 [==============================] - 1s 673us/step - loss: 0.6759 - accuracy: 0.5762
Epoch 9/30
804/804 [==============================] - 1s 685us/step - loss: 0.6751 - accuracy: 0.5795
Epoch 10/30
767/804 [===========================>..] - ETA: 0s - loss: 0.6749 - accuracy: 0.5791
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 1s 669us/step - loss: 0.6748 - accuracy: 0.5799
Epoch 11/30
804/804 [==============================] - 1s 682us/step - loss: 0.6742 - accuracy: 0.5819
Epoch 12/30
804/804 [==============================] - 1s 649us/step - loss: 0.6734 - accuracy: 0.5815
Epoch 13/30
804/804 [==============================] - 1s 676us/step - loss: 0.6728 - accuracy: 0.5828
Epoch 14/30
804/804 [==============================] - 1s 658us/step - loss: 0.6721 - accuracy: 0.5816
Epoch 15/30
758/804 [===========================>..] - ETA: 0s - loss: 0.6714 - accuracy: 0.5836
Epoch 15: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 1s 675us/step - loss: 0.6716 - accuracy: 0.5834
Epoch 16/30
804/804 [==============================] - 1s 684us/step - loss: 0.6705 - accuracy: 0.5869
Epoch 17/30
804/804 [==============================] - 1s 661us/step - loss: 0.6702 - accuracy: 0.5850
Epoch 18/30
804/804 [==============================] - 1s 666us/step - loss: 0.6698 - accuracy: 0.5862
Epoch 19/30
804/804 [==============================] - 1s 667us/step - loss: 0.6692 - accuracy: 0.5852
Epoch 20/30
737/804 [==========================>...] - ETA: 0s - loss: 0.6684 - accuracy: 0.5867
Epoch 20: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 1s 685us/step - loss: 0.6685 - accuracy: 0.5864
Epoch 21/30
804/804 [==============================] - 1s 674us/step - loss: 0.6678 - accuracy: 0.5859
Epoch 22/30
804/804 [==============================] - 1s 663us/step - loss: 0.6674 - accuracy: 0.5866
Epoch 23/30
804/804 [==============================] - 1s 669us/step - loss: 0.6665 - accuracy: 0.5896
Epoch 24/30
804/804 [==============================] - 1s 684us/step - loss: 0.6665 - accuracy: 0.5878
Epoch 25/30
769/804 [===========================>..] - ETA: 0s - loss: 0.6664 - accuracy: 0.5875
Epoch 25: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 1s 668us/step - loss: 0.6661 - accuracy: 0.5876
Epoch 26/30
804/804 [==============================] - 1s 666us/step - loss: 0.6653 - accuracy: 0.5896
Epoch 27/30
804/804 [==============================] - 1s 679us/step - loss: 0.6651 - accuracy: 0.5869
Epoch 28/30
804/804 [==============================] - 1s 663us/step - loss: 0.6645 - accuracy: 0.5884
Epoch 29/30
804/804 [==============================] - 1s 671us/step - loss: 0.6642 - accuracy: 0.5890
Epoch 30/30
760/804 [===========================>..] - ETA: 0s - loss: 0.6633 - accuracy: 0.5908
Epoch 30: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 1s 675us/step - loss: 0.6638 - accuracy: 0.5895

In [98]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 2.3920 - accuracy: 0.5162 - 316ms/epoch - 1ms/step
Loss: 2.392035484313965, Accuracy: 0.5161553621292114

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_firstattempt.h5")

In [118]:
# redefining model with more hidden nodes

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_26 (Dense)            (None, 80)                3920

 dense_27 (Dense)            (None, 30)                2430

 dense_28 (Dense)            (None, 10)                310

 dense_29 (Dense)            (None, 1)                 11

=================================================================
Total params: 6,671
Trainable params: 6,671
Non-trainable params: 0
_________________________________________________________________

In [119]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [120]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/30
804/804 [==============================] - 1s 701us/step - loss: 0.6857 - accuracy: 0.5584
Epoch 2/30
763/804 [===========================>..] - ETA: 0s - loss: 0.6807 - accuracy: 0.5694
Epoch 2: saving model to checkpoints\weights.02.hdf5
804/804 [==============================] - 1s 737us/step - loss: 0.6809 - accuracy: 0.5690
Epoch 3/30
804/804 [==============================] - 1s 717us/step - loss: 0.6795 - accuracy: 0.5726
Epoch 4/30
804/804 [==============================] - 1s 716us/step - loss: 0.6786 - accuracy: 0.5730
Epoch 5/30
804/804 [==============================] - 1s 722us/step - loss: 0.6777 - accuracy: 0.5772
Epoch 6/30
804/804 [==============================] - 1s 686us/step - loss: 0.6769 - accuracy: 0.5756
Epoch 7/30
804/804 [==============================] - 1s 771us/step - loss: 0.6764 - accuracy: 0.5774
Epoch 8/30
804/804 [==============================] - 1s 702us/step - loss: 0.6758 - accuracy: 0.5780
Epoch 9/30
804/804 [==============================] - 1s 732us/step - loss: 0.6752 - accuracy: 0.5788
Epoch 10/30
804/804 [==============================] - 1s 791us/step - loss: 0.6742 - accuracy: 0.5798
Epoch 11/30
804/804 [==============================] - 1s 704us/step - loss: 0.6742 - accuracy: 0.5796
Epoch 12/30
747/804 [==========================>...] - ETA: 0s - loss: 0.6725 - accuracy: 0.5861
Epoch 12: saving model to checkpoints\weights.12.hdf5
804/804 [==============================] - 1s 750us/step - loss: 0.6731 - accuracy: 0.5847
Epoch 13/30
804/804 [==============================] - 1s 765us/step - loss: 0.6727 - accuracy: 0.5821
Epoch 14/30
804/804 [==============================] - 1s 727us/step - loss: 0.6718 - accuracy: 0.5848
Epoch 15/30
804/804 [==============================] - 1s 728us/step - loss: 0.6713 - accuracy: 0.5843
Epoch 16/30
804/804 [==============================] - 1s 755us/step - loss: 0.6706 - accuracy: 0.5871
Epoch 17/30
804/804 [==============================] - 1s 720us/step - loss: 0.6697 - accuracy: 0.5876
Epoch 18/30
804/804 [==============================] - 1s 731us/step - loss: 0.6689 - accuracy: 0.5869
Epoch 19/30
804/804 [==============================] - 1s 738us/step - loss: 0.6682 - accuracy: 0.5864
Epoch 20/30
804/804 [==============================] - 1s 769us/step - loss: 0.6674 - accuracy: 0.5873
Epoch 21/30
804/804 [==============================] - 1s 751us/step - loss: 0.6675 - accuracy: 0.5880
Epoch 22/30
804/804 [==============================] - ETA: 0s - loss: 0.6667 - accuracy: 0.5907
Epoch 22: saving model to checkpoints\weights.22.hdf5
804/804 [==============================] - 1s 764us/step - loss: 0.6667 - accuracy: 0.5907
Epoch 23/30
804/804 [==============================] - 1s 741us/step - loss: 0.6662 - accuracy: 0.5880
Epoch 24/30
804/804 [==============================] - 1s 713us/step - loss: 0.6661 - accuracy: 0.5881
Epoch 25/30
804/804 [==============================] - 1s 737us/step - loss: 0.6655 - accuracy: 0.5905
Epoch 26/30
804/804 [==============================] - 1s 749us/step - loss: 0.6643 - accuracy: 0.5879
Epoch 27/30
804/804 [==============================] - 1s 704us/step - loss: 0.6641 - accuracy: 0.5901
Epoch 28/30
804/804 [==============================] - 1s 706us/step - loss: 0.6639 - accuracy: 0.5894
Epoch 29/30
804/804 [==============================] - 1s 732us/step - loss: 0.6635 - accuracy: 0.5927
Epoch 30/30
804/804 [==============================] - 1s 715us/step - loss: 0.6628 - accuracy: 0.5913

In [121]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 2.8460 - accuracy: 0.5488 - 237ms/epoch - 883us/step
Loss: 2.846031427383423, Accuracy: 0.5488160252571106

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_secondattempt.h5")

In [131]:
# redefining model with more hidden node layers and neurons per layer

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 130
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 20
hidden_nodes_layer4 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_55 (Dense)            (None, 130)               6370

 dense_56 (Dense)            (None, 40)                5240

 dense_57 (Dense)            (None, 20)                820

 dense_58 (Dense)            (None, 10)                210

 dense_59 (Dense)            (None, 1)                 11

=================================================================
Total params: 12,651
Trainable params: 12,651
Non-trainable params: 0
_________________________________________________________________

In [132]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [133]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/30
804/804 [==============================] - 1s 791us/step - loss: 0.6836 - accuracy: 0.5611
Epoch 2/30
804/804 [==============================] - 1s 770us/step - loss: 0.6804 - accuracy: 0.5702
Epoch 3/30
804/804 [==============================] - 1s 765us/step - loss: 0.6794 - accuracy: 0.5709
Epoch 4/30
804/804 [==============================] - 1s 754us/step - loss: 0.6784 - accuracy: 0.5721
Epoch 5/30
804/804 [==============================] - 1s 758us/step - loss: 0.6778 - accuracy: 0.5735
Epoch 6/30
783/804 [============================>.] - ETA: 0s - loss: 0.6774 - accuracy: 0.5772
Epoch 6: saving model to checkpoints\weights.06.hdf5
804/804 [==============================] - 1s 783us/step - loss: 0.6772 - accuracy: 0.5775
Epoch 7/30
804/804 [==============================] - 1s 772us/step - loss: 0.6764 - accuracy: 0.5765
Epoch 8/30
804/804 [==============================] - 1s 788us/step - loss: 0.6757 - accuracy: 0.5786
Epoch 9/30
804/804 [==============================] - 1s 765us/step - loss: 0.6750 - accuracy: 0.5797
Epoch 10/30
804/804 [==============================] - 1s 780us/step - loss: 0.6742 - accuracy: 0.5819
Epoch 11/30
804/804 [==============================] - 1s 769us/step - loss: 0.6736 - accuracy: 0.5817
Epoch 12/30
804/804 [==============================] - 1s 768us/step - loss: 0.6729 - accuracy: 0.5819
Epoch 13/30
804/804 [==============================] - 1s 804us/step - loss: 0.6718 - accuracy: 0.5835
Epoch 14/30
804/804 [==============================] - 1s 769us/step - loss: 0.6710 - accuracy: 0.5862
Epoch 15/30
804/804 [==============================] - 1s 784us/step - loss: 0.6699 - accuracy: 0.5859
Epoch 16/30
768/804 [===========================>..] - ETA: 0s - loss: 0.6693 - accuracy: 0.5876
Epoch 16: saving model to checkpoints\weights.16.hdf5
804/804 [==============================] - 1s 804us/step - loss: 0.6697 - accuracy: 0.5868
Epoch 17/30
804/804 [==============================] - 1s 821us/step - loss: 0.6688 - accuracy: 0.5875
Epoch 18/30
804/804 [==============================] - 1s 801us/step - loss: 0.6680 - accuracy: 0.5858
Epoch 19/30
804/804 [==============================] - 1s 776us/step - loss: 0.6673 - accuracy: 0.5886
Epoch 20/30
804/804 [==============================] - 1s 796us/step - loss: 0.6666 - accuracy: 0.5891
Epoch 21/30
804/804 [==============================] - 1s 807us/step - loss: 0.6659 - accuracy: 0.5881
Epoch 22/30
804/804 [==============================] - 1s 800us/step - loss: 0.6652 - accuracy: 0.5875
Epoch 23/30
804/804 [==============================] - 1s 818us/step - loss: 0.6643 - accuracy: 0.5894
Epoch 24/30
804/804 [==============================] - 1s 840us/step - loss: 0.6638 - accuracy: 0.5903
Epoch 25/30
804/804 [==============================] - 1s 809us/step - loss: 0.6626 - accuracy: 0.5910
Epoch 26/30
741/804 [==========================>...] - ETA: 0s - loss: 0.6625 - accuracy: 0.5909
Epoch 26: saving model to checkpoints\weights.26.hdf5
804/804 [==============================] - 1s 823us/step - loss: 0.6626 - accuracy: 0.5910
Epoch 27/30
804/804 [==============================] - 1s 786us/step - loss: 0.6620 - accuracy: 0.5920
Epoch 28/30
804/804 [==============================] - 1s 842us/step - loss: 0.6616 - accuracy: 0.5915
Epoch 29/30
804/804 [==============================] - 1s 811us/step - loss: 0.6611 - accuracy: 0.5915
Epoch 30/30
804/804 [==============================] - 1s 787us/step - loss: 0.6600 - accuracy: 0.5920

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_thirdattempt.h5")

In [140]:
# redefining model with different activation functions

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 130
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 20
hidden_nodes_layer4 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_16"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_70 (Dense)            (None, 130)               6370

 dense_71 (Dense)            (None, 40)                5240

 dense_72 (Dense)            (None, 20)                820

 dense_73 (Dense)            (None, 10)                210

 dense_74 (Dense)            (None, 1)                 11

=================================================================
Total params: 12,651
Trainable params: 12,651
Non-trainable params: 0
_________________________________________________________________

In [141]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [142]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/30
804/804 [==============================] - 1s 759us/step - loss: 0.6859 - accuracy: 0.5567
Epoch 2/30
804/804 [==============================] - 1s 777us/step - loss: 0.6823 - accuracy: 0.5644
Epoch 3/30
804/804 [==============================] - 1s 733us/step - loss: 0.6812 - accuracy: 0.5689
Epoch 4/30
804/804 [==============================] - 1s 736us/step - loss: 0.6802 - accuracy: 0.5717
Epoch 5/30
804/804 [==============================] - 1s 763us/step - loss: 0.6796 - accuracy: 0.5717
Epoch 6/30
750/804 [==========================>...] - ETA: 0s - loss: 0.6795 - accuracy: 0.5715
Epoch 6: saving model to checkpoints\weights.06.hdf5
804/804 [==============================] - 1s 756us/step - loss: 0.6797 - accuracy: 0.5716
Epoch 7/30
804/804 [==============================] - 1s 744us/step - loss: 0.6789 - accuracy: 0.5726
Epoch 8/30
804/804 [==============================] - 1s 739us/step - loss: 0.6787 - accuracy: 0.5744
Epoch 9/30
804/804 [==============================] - 1s 750us/step - loss: 0.6781 - accuracy: 0.5743
Epoch 10/30
804/804 [==============================] - 1s 755us/step - loss: 0.6777 - accuracy: 0.5763
Epoch 11/30
804/804 [==============================] - 1s 751us/step - loss: 0.6772 - accuracy: 0.5730
Epoch 12/30
804/804 [==============================] - 1s 763us/step - loss: 0.6773 - accuracy: 0.5755
Epoch 13/30
804/804 [==============================] - 1s 756us/step - loss: 0.6770 - accuracy: 0.5750
Epoch 14/30
804/804 [==============================] - 1s 745us/step - loss: 0.6765 - accuracy: 0.5783
Epoch 15/30
804/804 [==============================] - 1s 752us/step - loss: 0.6763 - accuracy: 0.5793
Epoch 16/30
744/804 [==========================>...] - ETA: 0s - loss: 0.6762 - accuracy: 0.5773
Epoch 16: saving model to checkpoints\weights.16.hdf5
804/804 [==============================] - 1s 753us/step - loss: 0.6760 - accuracy: 0.5787
Epoch 17/30
804/804 [==============================] - 1s 757us/step - loss: 0.6758 - accuracy: 0.5815
Epoch 18/30
804/804 [==============================] - 1s 761us/step - loss: 0.6755 - accuracy: 0.5815
Epoch 19/30
804/804 [==============================] - 1s 740us/step - loss: 0.6751 - accuracy: 0.5814
Epoch 20/30
804/804 [==============================] - 1s 765us/step - loss: 0.6750 - accuracy: 0.5798
Epoch 21/30
804/804 [==============================] - 1s 762us/step - loss: 0.6743 - accuracy: 0.5823
Epoch 22/30
804/804 [==============================] - 1s 758us/step - loss: 0.6741 - accuracy: 0.5823
Epoch 23/30
804/804 [==============================] - 1s 750us/step - loss: 0.6738 - accuracy: 0.5801
Epoch 24/30
804/804 [==============================] - 1s 768us/step - loss: 0.6736 - accuracy: 0.5811
Epoch 25/30
804/804 [==============================] - 1s 786us/step - loss: 0.6734 - accuracy: 0.5829
Epoch 26/30
739/804 [==========================>...] - ETA: 0s - loss: 0.6733 - accuracy: 0.5831
Epoch 26: saving model to checkpoints\weights.26.hdf5
804/804 [==============================] - 1s 760us/step - loss: 0.6730 - accuracy: 0.5835
Epoch 27/30
804/804 [==============================] - 1s 769us/step - loss: 0.6726 - accuracy: 0.5853
Epoch 28/30
804/804 [==============================] - 1s 762us/step - loss: 0.6723 - accuracy: 0.5852
Epoch 29/30
804/804 [==============================] - 1s 771us/step - loss: 0.6719 - accuracy: 0.5848
Epoch 30/30
804/804 [==============================] - 1s 762us/step - loss: 0.6716 - accuracy: 0.5845

In [143]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7221 - accuracy: 0.5251 - 227ms/epoch - 848us/step
Loss: 0.7220536470413208, Accuracy: 0.5251370668411255

In [144]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_fourthattempt.h5")

In [145]:
# redefining model with different activation functions and only 2 hidden layers

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))



# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_75 (Dense)            (None, 100)               4900

 dense_76 (Dense)            (None, 30)                3030

 dense_77 (Dense)            (None, 1)                 31

=================================================================
Total params: 7,961
Trainable params: 7,961
Non-trainable params: 0
_________________________________________________________________

In [146]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [147]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/30
804/804 [==============================] - 1s 678us/step - loss: 0.6874 - accuracy: 0.5550
Epoch 2/30
804/804 [==============================] - 1s 663us/step - loss: 0.6840 - accuracy: 0.5619
Epoch 3/30
804/804 [==============================] - 1s 669us/step - loss: 0.6818 - accuracy: 0.5682
Epoch 4/30
804/804 [==============================] - 1s 652us/step - loss: 0.6809 - accuracy: 0.5679
Epoch 5/30
804/804 [==============================] - 1s 650us/step - loss: 0.6807 - accuracy: 0.5718
Epoch 6/30
772/804 [===========================>..] - ETA: 0s - loss: 0.6795 - accuracy: 0.5738
Epoch 6: saving model to checkpoints\weights.06.hdf5
804/804 [==============================] - 1s 665us/step - loss: 0.6797 - accuracy: 0.5727
Epoch 7/30
804/804 [==============================] - 1s 660us/step - loss: 0.6792 - accuracy: 0.5736
Epoch 8/30
804/804 [==============================] - 1s 660us/step - loss: 0.6789 - accuracy: 0.5748
Epoch 9/30
804/804 [==============================] - 1s 651us/step - loss: 0.6786 - accuracy: 0.5720
Epoch 10/30
804/804 [==============================] - 1s 675us/step - loss: 0.6782 - accuracy: 0.5751
Epoch 11/30
804/804 [==============================] - 1s 653us/step - loss: 0.6772 - accuracy: 0.5762
Epoch 12/30
804/804 [==============================] - 1s 652us/step - loss: 0.6777 - accuracy: 0.5757
Epoch 13/30
804/804 [==============================] - 1s 652us/step - loss: 0.6770 - accuracy: 0.5796
Epoch 14/30
804/804 [==============================] - 1s 649us/step - loss: 0.6769 - accuracy: 0.5773
Epoch 15/30
804/804 [==============================] - 1s 658us/step - loss: 0.6766 - accuracy: 0.5779
Epoch 16/30
778/804 [============================>.] - ETA: 0s - loss: 0.6766 - accuracy: 0.5786
Epoch 16: saving model to checkpoints\weights.16.hdf5
804/804 [==============================] - 1s 660us/step - loss: 0.6765 - accuracy: 0.5785
Epoch 17/30
804/804 [==============================] - 1s 664us/step - loss: 0.6760 - accuracy: 0.5793
Epoch 18/30
804/804 [==============================] - 1s 656us/step - loss: 0.6756 - accuracy: 0.5783
Epoch 19/30
804/804 [==============================] - 1s 668us/step - loss: 0.6754 - accuracy: 0.5778
Epoch 20/30
804/804 [==============================] - 1s 657us/step - loss: 0.6752 - accuracy: 0.5793
Epoch 21/30
804/804 [==============================] - 1s 654us/step - loss: 0.6750 - accuracy: 0.5802
Epoch 22/30
804/804 [==============================] - 1s 654us/step - loss: 0.6751 - accuracy: 0.5799
Epoch 23/30
804/804 [==============================] - 1s 656us/step - loss: 0.6747 - accuracy: 0.5785
Epoch 24/30
804/804 [==============================] - 1s 659us/step - loss: 0.6747 - accuracy: 0.5793
Epoch 25/30
804/804 [==============================] - 1s 664us/step - loss: 0.6748 - accuracy: 0.5780
Epoch 26/30
757/804 [===========================>..] - ETA: 0s - loss: 0.6742 - accuracy: 0.5819
Epoch 26: saving model to checkpoints\weights.26.hdf5
804/804 [==============================] - 1s 678us/step - loss: 0.6743 - accuracy: 0.5815
Epoch 27/30
804/804 [==============================] - 1s 657us/step - loss: 0.6740 - accuracy: 0.5795
Epoch 28/30
804/804 [==============================] - 1s 656us/step - loss: 0.6737 - accuracy: 0.5831
Epoch 29/30
804/804 [==============================] - 1s 653us/step - loss: 0.6737 - accuracy: 0.5798
Epoch 30/30
804/804 [==============================] - 1s 687us/step - loss: 0.6735 - accuracy: 0.5820

In [148]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7184 - accuracy: 0.5421 - 297ms/epoch - 1ms/step
Loss: 0.7183933258056641, Accuracy: 0.5420506000518799

In [149]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_fifthattempt.h5")